.create-album-modal {
    background-color: #ffffff;
    padding: 32px;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.create-album-title {
   text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 30px;
}


.create-album-modal form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.album-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 24px;
}

.album-form label {
    display: flex;
    flex-direction: column;
    gap: 8px; 
    font-weight: 600;
    font-size: 0.9rem;
    color: #4b5563;
}

.album-input,
.album-textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

.album-input:focus,
.album-textarea:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.25);
}

.album-textarea {
    resize: vertical;
    min-height: 100px;
}

.new-album-submit-button {
    align-self: flex-end;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.new-album-submit-button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin: 4px 0 0 0;
}