
.delete-button {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  border: none;
  outline: none;
  background-color: rgb(55, 65, 81);
  color: white;
  margin-right: 0.5rem;
}

.delete-button:hover {
  background-color: rgb(75, 85, 99);
}

.edit-link {
    border: none;
    color: rgb(78, 46, 194);
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
}

.edit-link:hover {
    color: rgb(54, 13, 201)
}

.photo-page-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.photo-container {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 3px; 
}

.photo-detail-box {
    flex: 1;
}

.photo-container img {
    max-height: 430px;
    width: auto;
    display: block;
}

.comment-section {
  max-width: 60%; 
  margin: 0 auto;
}

.comment-section-header {
  display: flex;
  align-items: center;
}

.comment-button {
    margin-left: 20rem;
    padding: 7px 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-button:hover {
    background-color: #046ce2;
}

.comment-body {
  display: flex;
  flex-direction: column;
}

.comment-text-and-date {
  display: flex;
  align-items: center;
  gap: 15px;
}

.comment-text-and-date p {
  margin: 8px;
}

.comment-date-time {
  color: #555;
  font-size: 0.9em; 
}

.comment-buttons {
    display: flex;
    margin-bottom: 10px;
}

.edit-comment-button,
.delete-comment-button {
    border: none;
    color: #474747;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

.edit-comment-button:hover,
.delete-comment-button:hover {
    color: #757474
}