
.upload-photo-button {
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    border: none;
    outline: none;
}

.upload-photo-button:hover {
    background-color: #046ce2;
}

.all-images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0 100px;
}

.my-images {
    height: 200px;
    width: auto;
    display: block;
    cursor: pointer;
}

.no-photos-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photos-top-section {
    display: flex;
    gap: 25rem;
    align-items: flex-start;
    padding: 0 20px;
    margin-bottom: 2rem;
}

.photos-top-middle {
    text-align: center;
}