
.upload-photo-button {
    cursor: pointer;
}

.open-menu-button {
    cursor: pointer;
}

.logout-button {
    cursor: pointer;
}

.home-link {
    cursor: pointer;
}

.signup-link {
    cursor: pointer;
}

.login-link {
    cursor: pointer;
}